body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
.Navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 2px 5px 4px aliceblue;
    transition: all 0.5s;
}
.Navbar:hover{
  box-shadow: 5px 10px 18px gray;
  transform: translate(0, -5px);
  

}
.navLogo{
    display: flex;
    align-items: center;
  
}
.navLink{
    display: flex;
    padding-right: 2vh;
}
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }
  nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
  }
  nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #1683a0;
    text-transform: uppercase;
    margin-right: 10vh;
  }
  nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #1683a0;;
    transition: width .5s linear;  
  }
  nav a:hover:after {width: 100%;}