.PrevResult{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(6,92,199);
    background: linear-gradient(313deg, rgba(6,92,199,1) 1%, rgba(0,137,137,0.14639359161633403) 95%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 20%;
    margin-top: 4vh;
    margin-right: 4vh;
    margin-left: 2vh;
}
.PrevResult-header{
    text-align: center;
    border-bottom: 2px solid white;
    width: 100%;
    padding-bottom: 4vh;
    padding-top: 2vh;
   
}
.PrevResult-body{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    padding-bottom: 4vh;
    padding-top: 2vh;
}
.PrevResult-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;

}
.PrevResult-div{
    width: 100%;
}
.PrevResult-footer {
    height: 40%;
    width: 40%;
    margin: 2vh;
}
.PrevResult-footer input{
    width: 60%;
    height: 25%;
    margin-bottom: 3vh;
}
  