.QuestionPage{
    display: flex;
    justify-content: space-between;
}
.QuestionContainer{
    height: 100vh;
}
.QuestionBox{
  
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.QuestionButton{
    display: flex;
    justify-content: space-around;
}
.QuestionPage{
    margin-left: 15vh;
}
.NumberContainer{
    margin-right: 15vh;
}
.Options{
    display: flex;
    flex-direction: column;
}
.Options input[type=radio]{
    visibility: visible;
}
.Options label{
    font-size: large;
}
.NumberContainer{
    width: 20%;
}
.NumberButtons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
}




  
  p{
    color:#fff;
    text-align: center;
    padding-top: 500px;
    font-size: 10px;
  }
  
  a{
     text-decoration:none;
     color:#fff;
  }
  
  a:hover{
     color:#2ecc71;
  }
  
  .main{
    width: 100%;
  }
  

  
  button{
    text-align: center;
    cursor: pointer;
    font: size 2rem;;
    
  }
  
  
  
  /*Button One*/

  
  
  /*Button Two*/
  .next {
    border-radius: 4px;
    background-color:#eaf724;
    border: none;
    padding: 10px;
    
    transition: all 0.5s;
  }
  
  
  .next span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .next span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .next:hover span {
    padding-right: 25px;
  }
  
  .next:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  
  /*Button Three*/
  .save {
      position: relative;
      background-color: #47c6ee;;
      border: none;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      text-decoration: none;
      overflow: hidden;
  }
  
  .save:hover{
     background:#2ecc71;
     box-shadow:0px 2px 10px 5px #97B1BF;
     color:#000;
  }
  
  .save:after {
      content: "";
      background: #47c6ee;;
      display: block;
      position: absolute;
      padding-top: 300%;
      padding-left: 350%;
      margin-left: -20px !important;
      margin-top: -120%;
      opacity: 0;
      transition: all 0.8s
  }
  
  .save:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
  }
  .QuestionButton{
      display: flex;
  }
  .prev {
    border-radius: 4px;
    background-color:#d35400;
    border: none;
    padding: 10px;
    
    transition: all 0.5s;
  }
  
  
  .prev span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .prev span:after {
    content: '«';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 20px;
    transition: 0.5s;
  }
  
  .prev:hover span {
    padding-right: 25px;
  }
  
  .prev:hover span:after {
    opacity: 1;
    right: 0;
  }

  .submit {
    position: relative;
    background-color: #2ecc71;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.submit:hover{
   background:#47c6ee;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.submit:after {
    content: "";
    background: #2ecc71;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.submit:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}