.QuestionPage{
    display: flex;
    justify-content: space-around;
}
.QuestionContainer{
    height: 100vh;
}
.QuestionBox{
  
   min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.Options{
    display: flex;
    flex-direction: column;
}
.Options input[type=radio]{
    visibility: visible;
}
.Options label{
    font-size: large;
}
.NumberContainer{
    width: 20%;
}
.NumberButtons{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
}